# maven #
target

logs

# windows #
Thumbs.db

# Mac #
.DS_Store

# eclipse #
.settings
.project
.classpath
.log
*.class

# idea #
.idea
*.iml
.gradle
rebel.xml
# Package Files #
*.jar
*.war
*.ear
/target

# vscode
.factorypath
code.properties